[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=TmUnitedForever
Comment=TrackMania United Forever
Exec=tmunitedforever
Icon=${SNAP}/meta/gui/tmunitedforever.png
Categories=Game;
Terminal=false
StartupNotify=true
StartupWMClass=tmforeverlauncher.exe
Keywords=game
